body { text-align: center; }
input[type="number"] { height: 30px; }
body, input[type="number"] { font-size: 24px; line-height: 24px; }
small, label { font-size: 24px; color: #999; line-height: 24px; }
strong#total { font-size: 30px; }
	
div.container-fluid {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}
