node_modules/
.env
yarn-error.log
.pnp*
.yarn*
tls.*
leveldb
swaps
exceptions
fx
uploads
verified
data
lnurl-server.sqlite3
watcher.log
config
mysql
build.json
build.sh
watcher.sh
logs
docker-compose.mainnet.yml
assets.json
lm.yml
lt.yml
caddy
