node_modules/
.env
config/private.json
config/clientversion
yarn-error.log
.pnp*
.yarn*
tls.*
leveldb
swaps
exceptions
fx
uploads
verified
data
lnurl-server.sqlite3
watcher.log

config/config.json
config/index.js
config/lnurl.js
