classic.coinos.io {
	handle_path /api* {
		reverse_proxy app:3119
	}

	handle /lnurl* {
		reverse_proxy app:3118
	}

	handle /ws* {
		reverse_proxy app:3119
	}

	handle {
		root * /coinos
		try_files {path}.html {path} /index.html
		file_server
	}

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

coinos.io {
	handle_path /api* {
		reverse_proxy app:3119
	}

	handle /lnurl* {
		reverse_proxy app:3118
	}

	handle /ws* {
		reverse_proxy app:3119
	}

	handle {
		reverse_proxy ui:3000
	}

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

v2.coinos.io {
  redir https://coinos.io{uri} permanent
} 
