<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">VanBTC</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <a href="/login" class="navbar-link">Login</a>
        </p>
        <ul class="nav">
          <li><a href="/about">Info</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/exchangers">Exchangers</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
