<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="css/bitcoin_pos.css" rel="stylesheet" />
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/qr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bitcoin_pos.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div id="calculator" style="display: none">
        <input id="client" type="hidden" value="{{client}}" />
        <h1 id="title">Bitcoin Payment Calculator</h1>

        <img id="logo" src="img/logo.jpg" alt="Logo" style="display: none" />

        <label for="exchange">Exchange Rate:</label>
        <input type="text" id="exchange" value="0" disabled="disabled" />
        <small>CAD / BTC</small>

        <label for="amount">Amount:</label>
        <input type="text" id="amount" />
        <small>CAD</small>

        <br /><br />

        <div id="payment">
          <p>Please send <strong id="total">0.0</strong> bitcoins to:</p><br />
          <p id="address"></p>

          <canvas id="qrcanv">No Canvas Support</canvas>
        </div>

        <span id="received" class="btn btn-success">Payment Received.  Thank you!</span>
      </div>

      <span id="error" class="btn btn-danger" style="display: none">Can't establish connection</span> 
    </div>
  </body>
</html> 
