<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Vancouver Bitcoin</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">VanBTC</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">Login</a>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Vancouver Bitcoin</h1>
            <p>Bitcoins are units of digital currency that can be transferred over the Internet.  We are a community of merchants, exchangers, and enthusiasts in Vancouver, British Columbia who are passionate about this technology.</p>
            <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Learn</h2>
              <p>Are you new to bitcoins?  Find out all about them here.  We'll explain why you might want to use them and point you to some useful resources.</p>
              <p><a class="btn" href="/about">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Spend</h2>
              <p>You can spend your bitcoins in town to support local merchants.  Want to accept bitcoins in your store?  Check out our Point of Sale application.</p>
              <p><a class="btn" href="/merchants">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Exchange</h2>
              <p>Looking to buy or sell bitcoins in town?  Our network of local, accredited exchangers are trained to give you a fair price and a professional experience.</p>
              <p><a class="btn" href="/exchangers">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; VanBTC 2012</p>
      </footer>
    </div>
  </body>
</html> 
