<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}common{{/css}}
    {{#js}}index{{/js}}
  </head>
  <body>
    <div class="container-fluid">
      <form action="users" method="post">
        <h1>Calculator Setup</h1>

        <label for="login">Alias:</label>
        <input type="text" id="login" name="login" />

        <label for="name">Title:</label>
        <input type="text" id="name" name="name" />

        <label for="logo">Image:</label>
        <input type="text" id="logo" name="logo" />

        <label for="address">Bitcoin Address:</label>
        <input type="text" id="address" name="address" />

        <label for="symbol">Market Symbol:</label>
        <select id="symbol" name="symbol">
        </select>
        
        <label for="commission">Commission (%):</label>
        <input type="text" id="commission" name="commission" />

        <br />
        <input class="btn" type="submit" value="Go" />
      </form>
    </div>
  </body>
</html> 
