<h1>Join Us</h1>

<p>
If you're a resident of Vancouver and would like to be listed as a local exchanger here, come to our monthly meetup group and introduce yourself! We'll teach you everything you need to know and if you agree to use our posted rates and we get the sense that you'll be fair and professional then we'll happily list you on our <a href="/exchangers">exchangers page</a>.
</p>

<h2>Our Rates</h2>

<p>
Our exchange rates are pegged to the current market prices at <a href="http://cavirtex.com/">cavirtex.com</a> including a 3% surcharge to cover the <a href="https://www.cavirtex.com/fees">transaction fees</a> that they charge to use their service.  We don't take any commission above and beyond that for ourselves.  Our hope is that eventually there will be enough turnover in the Vancouver bitcoin economy that we won't need to use an online exchange.  When that happens, we'll be able to eliminate fees altogether.
</p>
