<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Vancouver Bitcoin</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
    <style>
      div.span4 img { width: 150px; height: 150px; float: left; padding-right: 20px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">VanBTC</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li><a href="/about">Info</a></li>
              <li><a href="/merchants">Merchants</a></li>
              <li><a href="/exchangers">Exchangers</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div></div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <h1>Merchants</h1>
          <p>
          Following is a directory of local shops and businesses in Vancouver that accept bitcoins for payment.  Would you like to be included here?  We'd love to have you!
          </p>
          <p><a class="btn" href="/merchants/new">Sign me up!</a></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Pacific Bliss Massage</h2>
          <img src="http://pacificblissmassage.com/VancouverCustomizedMassage.jpg" />
          <p>
          Vancouver's most blissful massage and integrated healing center. We specialize in Swedish relaxation massage and Hot &amp; Cold Stone Therapy. Treatments can be scheduled at Infinity Salon &amp; Spa &amp; in the summer months at Vancouver's most beautiful location - Wreck Beach!
          </p>
        </div>

        <div class="span4">
          <h2>Spartacus Books</h2>
          <img src="http://www.spartacusbooks.net/new/resources/spartacuslogo.jpg" />
          <p>
          Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai, Homemade soup to Italian specialty coffee drinks, all made right in front of you
          </p>
        </div>

        <div class="span4">
          <h2>Sweet Tooth Cafe</h2>
          <img src="http://www.sweettoothcafe.ca/_/rsrc/1301203218770/config/customLogo.gif?revision=8" />
          <p>
          Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai, Homemade soup to Italian specialty coffee drinks, all made right in front of you
          </p>
        </div>
      </div>
      <hr>

      <footer>
        <p>VanBTC</p>
      </footer>
    </div>
  </body>
</html> 
