<h1>Sign Up</h1>

<p>
Are you a Vancouver business owner accepting bitcoins for payment? Great! That's all it takes to be listed on our site. Just <a href="/contact">let us know</a> what image and text you'd like us to put up and give us a URL to your website if you have one.
</p>

<h2>Point of Sale</h2>

<p>
If you want, we can also help you by providing you with a free, customized <a href="/calculator">Point-of-Sale</a> page for your business and offering you our exchange services.  We designed the page to display nicely on <a href="http://www.gadgetsdealer.com/product217426.html">cheap Android tablets</a> that you can keep on your countertop, but it can run on a laptop too or any device that has a modern web browser.
</p>

<h2>How it Works</h2>

<p>
We'll create a new bitcoin address for your customers to send payments to and setup a Point-of-Sale page customized with your logo and an easy-to-remember web address. You can run it in your store.  Whenever someone comes in asking to pay with bitcoins, you'll enter the sale amount in Canadian dollars and the page will instantly convert that amount to bitcoins and generate a QR code that your bitcoin-savvy customers can scan with their phone in order to send bitcoins to your address.</p>

<p>
The page will notify you when the payment is received and it'll be logged along with the current exchange rate at the time of sale. You'll get access to a report that totals up all the transactions sent to your bitcoin address in a given period.  We can pay you out in cash for those bitcoins or you can choose to hold onto them and hope they grow in value. 
</p>

<p>
YouTube video coming soon...
</p>
