@media (min-width: 580px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 360px) {
  .tablet {
    display: none;
  }
}
h1 {
  margin-top: 0;
}
div.container-fluid {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
}
.navbar-toggle {
  background-color: #428bca;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 30px;
  margin: 0;
  float: none;
  z-index: 1;
  margin-bottom: -30px;
}
.navbar-toggle .glyphicon {
  margin-top: -5px;
  padding-left: 10px;
}
.navbar {
  margin: 0;
  min-height: 40px;
}
.navbar-collapse.in {
  overflow-y: visible;
}
#connection {
  display: none;
}
.numpad .btn,
.tippad .btn {
  margin-bottom: 5px;
  padding: 10px;
  width: 4.5em;
}
.numpad h2,
.tippad h2 {
  margin-bottom: 2px;
  margin-top: 1px;
}
.numpad {
  width: 18em;
}
.rates {
  width: 14em;
  margin-top: -15px;
  text-align: right;
}
#payment h2 {
  margin-bottom: 2px;
}
.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
#nav .nav {
  margin-top: 30px;
}
#nav .nav li a {
  padding: 10px 0 10px 10px;
}
.form-group label {
  font-weight: normal;
  font-size: 14px;
  display: block;
}
.form-group p,
.form-group span,
.form-group .form-control {
  font-size: 18px;
}
.form-group span,
.form-group label {
  color: #999;
}
.form-group .form-control {
  height: auto;
  padding: 3px;
  display: inline-block;
}
.form-group .input-group-addon {
  color: #000;
}
.form-group .input-group-btn {
  padding-top: 24px;
}
.form-group .form-control-feedback {
  margin-top: 24px;
}
div#calculator #amount {
  width: 5em;
}
div#calculator #received {
  font-size: 16px;
  width: 100%;
}
div#calculator strong#total {
  font-size: 30px;
}
div#calculator #address {
  padding-top: 10px;
}
div#calculator #address a {
  color: #fff;
  text-decoration: none;
}
div#calculator #title {
  display: none;
}
div#calculator #title a {
  color: #000;
  text-decoration: none;
}
div#calculator #logo {
  display: none;
  padding: 10px 0;
  margin-bottom: 10px;
  max-height: 225px;
  width: 100%;
}
div#calculator #error {
  margin-top: 10px;
}
div#calculator #qr {
  padding-bottom: 10px;
  margin-left: 20px;
}
td#total {
  font-weight: bold;
  text-align: right;
}
#main-logo {
  background-image: url('../img/coinos_logo.png');
  width: 300px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.svg #main-logo {
  background-image: url('../img/coinos_logo.svg') !important;
  background-size: 300px 80px;
}
@page {
  margin: 0;
}
