@import "bootstrap.min.css";

.navbar-inverse, .navbar-inverse .navbar-link, .navbar-inverse .brand, .navbar-inverse .nav > li > a { color: #ddd; }
footer { 
  background: black; 
  color: #ddd; 
  padding: 10px 0px 2px 5px; 
  margin: 0;
  text-align: right;
}

b.exchange { color: white; }
div.directory img { width: 150px; height: 150px; float: left; padding-right: 20px; }
div.row-fluid td.first { text-align: right; }
