@import "bootstrap.min.css";

.navbar-inverse .brand, .navbar-inverse .nav > li > a { color: #ddd; }
footer { 
  background: black; 
  color: white; 
  padding: 10px 0px 2px 5px; 
  margin: 0 -20px 0 -20px;
}
