<div class="row-fluid">
  <div class="span6">
    <h2>What are bitcoins?</h2>
    <p>
    Bitcoins are units of digital currency that can be 
    transferred over the Internet.
    They get sent to a bitcoin address and stored in a digital wallet 
    that you can access with a 
    password. Creating a wallet is free and 
    easy -- <a href="https://blockchain.info/wallet/new" target="_blank">try it</a>.
    </p>
    
    <p>
    New bitcoin addresses start with a zero balance.  Transactions between addresses are 
    recorded in a file that gets published on 
    the Internet.  The file keeps track of every transaction that's ever taken place and therefore knows the balance of every address.
    </p>
    
    <p>
    New bitcoins are generated every 10 minutes and distributed to people who volunteer computing power to run the bitcoin network. The 
    <a href="http://bitcoin.org">software to participate</a> is free and open source so anyone can run it on their computer to earn bitcoins.
    </p>

    <p>
    Over time, fewer and fewer 
    bitcoins will be created until finally there are a total of 
    21 million of them in circulation by the year 2040. Each one of them
    is divisible up to 8 decimal places, making 
    it possible to transact small amounts.
    </p>
  </div>
  <div class="span6">
    <h2>Why use them?</h2>
    <p>
    They're free, fast, secure, and global.  Merchants 
    don't get charged for accepting them and you don't 
    get charged for transferring them, even 
    internationally. There are no fees, prerequisites, or 
    limits. You can register addresses anonymously and 
    create as many accounts as you like. They can 
    never be frozen because no central authority 
    controls them. Whether you're sending a fraction of 
    a cent or a million dollars, the network doesn't 
    discriminate.
    </p>
    
    <p>
    You can use bitcoins to send free, 
    immediate payments to your friends and family 
    from your phone or laptop so you can pay a co-worker 
    back for coffee, transfer wages to family overseas, 
    or donate to organizations like WikiLeaks who've 
    been cut off by the major payment companies. Or, use bitcoins to securely
    store your savings and gain access to them 
    from anywhere that has Internet access. They tend to 
    appreciate in value over time because of their 
    limited supply, so they make a good investment. 
    Unlike dollars and other national currencies, no 
    government or issuing authority can print more of 
    them.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h2>Where can I get some?</h2>
    <p>
    Contact one of our trusted <a href="/exchangers">exchangers</a>.  We'll meet you in person to sell you bitcoins and will be happy to help you get started if you're new.
    </p>

    <p>
    There are several bitcoin markets operating online as well. The largest one in Canada 
    is <a href="http://cavirtex.com/">cavirtex.com</a> and is run out of Calgary. They link up buyers and sellers and facilitate trades by 
    allowing you to deposit and withdraw Canadian dollars directly from your bank account. A list of other 
    online exchanges and their rates can be found at <a href="http://bitcoincharts.com">bitcoincharts.com</a>.
    </p>

    <p>
    You can also use sites like <a href="http://localbitcoins.com/">Local Bitcoins</a>, <a href="http://bitcoinary.com/">Bitcoinary</a>, and <a href="http://bitcoin-otc.com/">Bitcoin OTC</a> to find people to trade with directly.
    </p>
  </div>

  <div class="span6">
    <h2>How is their price set?</h2>
    <p>
    Most merchants accepting bitcoin will use an 
    exchange rate from  one of the online markets 
    to determine their equivalent 
    dollar value. The exchange rate is simply the last 
    price that some seller was able to charge some 
    buyer for bitcoins in the free market and is 
    governed by supply and demand.
    </p>

    <p>
    Bitcoins aren't backed by any underlying 
    commodity or insured by any authority. They 
    have value as a currency due to their mathematically 
    guaranteed scarcity, security, divisibility,
    and global recognition.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h2>What can I buy with them?</h2>
    <p>
    You can <a href="/merchants">spend them locally</a> at one of our participating merchants or check out
    <a href="http://bitcoinmagazine.net/where-to-spend-your-bitcoins/">this article</a> for some other suggestions.
    The number of <a href="https://en.bitcoin.it/wiki/Trade">companies accepting bitcoins</a>
    is growing quickly and we're working to get more stores accepting them in 
    Vancouver.  We believe it'll be in 
    their best interest to avoid the transaction fees 
    charged by the credit card companies. Transaction 
    fees end up getting built into the prices we pay for 
    goods and services across the board so we're always
    subsidizing the banks and payment companies.
    </p>

  </div>
  <div class="span6">
    <h2>Where can I learn more?</h2>
    <p>
    Come to our <a href="http://meetup.com/bitcoinvan/">monthly meetup group</a> or <a href="/exchangers">contact one of us</a>.
    </p>
  </div>
</div>
