<h1>Contact Us</h1>

<p>
You can use our <a href="http://www.meetup.com/bitcoinvan/messages/boards/">message board</a> at meetup.com to get in touch. For issues with this website, let us know at <a href="https://github.com/asoltys/vanbtc.ca">Github</a>.
</p>

<h2>Support Us</h2>

<p>
Want to send some coins our way?  We'll use donations to promote bitcoins by purchasing <a href="http://cryptoanarchy.com/store/index.php?route=product/product&path=59&product_id=51">stickers</a> and <a href="http://www.gadgetsdealer.com/product217426.html">Android tablets</a> for local merchants who run our <a href="/merchants/signup">payment software</a>. Send to <b>1VAnbtCAnYccECnjaMCPnWwt81EHCVgNr</b> -- every little bit helps!
<br /></p>
<img src="img/qr.png" alt="QR" />
</p>



