<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}calculator{{/css}}
    {{#js}}deposit{{/js}}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Deposit Bitcoin</h1>

      Send bitcoins to: 1VAnbtCAnYccECnjaMCPnWwt81EHCVgNr

      <p id="received" style="white-space: pre-line">
        <canvas id="qrcanv">No Canvas Support</canvas>
      </p>
    </div>
  </body>
</html>
