<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h1>Exchangers</h1>
      <p>
       Our goal is to establish a network of trusted individuals who can provide a consistent experience and reliable price for people wanting to trade bitcoins in Vancouver.
      </p>
      <p><a class="btn" href="/exchangers/join">Join Us!</a></p>
    </div>

    <div class="span6 well">
      <h1>Meeting Procedure</h1>
      <ul style="list-style: none; margin: 0;">
        <li><i class="icon-caret-right"></i> Contact one of us to let us know your availability</li>
        <li><i class="icon-caret-right"></i> Tell us how much you want to buy and provide us with an address to send to</li>
        <li><i class="icon-caret-right"></i> We'll arrange a time to meet at a public place like a caf&eacute; or a bank</li>
        <li><i class="icon-caret-right"></i> When we meet, we'll look up the exchange rate</li>
        <li><i class="icon-caret-right"></i> We send the bitcoins to your address using our phone or laptop</li>
        <li><i class="icon-caret-right"></i> We'll wait to confirm the transaction at blockchain.info</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="directory">
        <h2>Adam</h2>
        <a href="https://localbitcoins.com/accounts/profile/asoltys/"><img src="img/adam.jpg" alt="Adam" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>Hastings/Sunrise</td>
          </tr>
          <tr>
            <td><b>Phone/Text:</b></td>
            <td>604-358-6745</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><a href="mailto:asoltys@gmail.com">asoltys@gmail.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/asoltys/">asoltys</a></td>
          </tr>
        </table>
      </div>

      <div class="directory">
        <h2>Jackson</h2>
        <a href="https://localbitcoins.com/accounts/profile/stretchwynand/"><img src="img/jackson.jpg" alt="Jackson" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>Fairview</td>
          </tr>
          <tr>
            <td><b>Phone/Text:</b></td>
            <td>604-908-3432</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><a href="mailto:jacksonwarren86@gmail.com">jacksonwarren86@gmail.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/stretchwynand/">stretchwynand</a></td>
          </tr>
        </table>
      </div>
      <div class="directory">
        <h2>Yuri</h2>
        <a class="img" href="https://localbitcoins.com/accounts/profile/beeteecee/"><img src="img/yuri.jpg" alt="Yuri" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>West End</td>
          </tr>
          <tr>
            <td><b>Text Only:</b></td>
            <td>310-853-2401</td>
          </tr>
          <tr>
            <td><b>Website:</b></td>
            <td><a href="http://beeteecee.com/" target="_blank">beeteecee.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/beeteecee/">beeteecee</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
