<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h1>Exchangers</h1>
      <p>
       Our goal is to establish a network of trusted individuals who can provide a consistent experience and reliable price for people wanting to trade bitcoins in Vancouver.
      </p>
      <p><a class="btn" href="/exchangers/join">Join Us!</a></p>
    </div>

    <div class="span6">
      <h1>Meeting Procedure</h1>
      <ul>
        <li>Contact one of us to let us know your availability and how much you want to spend</li>
        <li>We'll arrange a time to meet at a public place like a caf&eacute; or a bank</li>
        <li>At the time of meeting, we'll look up the exchange rate above to determine how many bitcoins to send for the amount specified</li>
        <li>You'll provide us with a bitcoin address to send to and count out the cash</li>
        <li>We'll send the bitcoins to your address using a phone or laptop</li>
        <li>When the transaction is confirmed, we take the cash, you keep the bitcoins!</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="directory">
        <h2>Adam</h2>
        <a href="https://localbitcoins.com/accounts/profile/asoltys/"><img src="img/adam.jpg" alt="Adam" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>Hastings/Sunrise</td>
          </tr>
          <tr>
            <td><b>Phone/Text:</b></td>
            <td>604-358-6745</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><a href="mailto:asoltys@gmail.com">asoltys@gmail.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/asoltys/">asoltys</a></td>
          </tr>
        </table>
      </div>

      <div class="directory">
        <h2>Jackson</h2>
        <a href="https://localbitcoins.com/accounts/profile/stretchwynand/"><img src="img/jackson.jpg" alt="Jackson" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>Fairview</td>
          </tr>
          <tr>
            <td><b>Phone/Text:</b></td>
            <td>604-908-3432</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><a href="mailto:jacksonwarren86@gmail.com">jacksonwarren86@gmail.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/stretchwynand/">stretchwynand</a></td>
          </tr>
        </table>
      </div>
      <div class="directory">
        <h2>Yuri</h2>
        <a class="img" href="https://localbitcoins.com/accounts/profile/beeteecee/"><img src="img/yuri.jpg" alt="Yuri" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>West End</td>
          </tr>
          <tr>
            <td><b>Text Only:</b></td>
            <td>310-853-2401</td>
          </tr>
          <tr>
            <td><b>Website:</b></td>
            <td><a href="http://beeteecee.com/" target="_blank">beeteecee.com</a></td>
          </tr>
          <tr>
            <td><b>LocalBitcoins:</b></td>
            <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/beeteecee/">beeteecee</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
