<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>Vancouver Bitcoin</h1>
        <p>We help local businesses accept bitcoins by providing them with payment software and paying cash for their bitcoins.  We also buy and sell bitcoins to the public in an effort to make it easy for anyone to get started or cash out.</p>
        <a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <h2><i class="icon-question-sign"></i> Info</h2>
          <p>New to bitcoins?  We'll explain why you might want to use them and point you to some useful resources.</p>
          <p><a class="btn" href="/about">Go &raquo;</a></p>
        </div>

        <div class="span4">
          <h2><i class="icon-globe"></i> Merchants</h2>
          <p>You can spend your bitcoins in town to support local merchants and improve the local economy.</p>
          <p><a class="btn" href="/merchants">Go &raquo;</a></p>
        </div>

        <div class="span4">
          <h2><i class="icon-user"></i> Exchangers</h2>
          <p>Looking to buy or sell bitcoins?  Our trusted exchangers will give you a fair price and a professional experience.</p>
          <p><a class="btn" href="/exchangers">Go &raquo;</a></p>
        </div>
      </div>

      <br />

      <div class="row-fluid">
        <div class="span12 well">
          <form id="signup" action="/users" method="post" style="float: right; padding-left: 15px;">
            <h2>Sign Up</h2>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="" />

            <br />
            <input class="btn" type="submit" value="Go" />
          </form>

          <h2>Point of Sale</h2>
          <p>Create a free Point-of-Sale webpage with us that you can run in your store to accept bitcoin payments from your customers!</p>
        </div>
      </div>
    </div>
  </div>
</div>
