<div class="merchants container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Merchants</h1>
      <p>
      Following is a directory of local shops and businesses in Vancouver (and Victoria!) that accept bitcoins for payment.
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="directory">
        <h2><a href="http://www.cabin12.ca/">Cabin 12 Restaurant</a></h2>
        <a href="http://www.sweettoothcafe.ca/"><img src="/img/cabin12.jpg" alt="Cabin 12 Restaurant" /></a>
        <p>
        One of the best breakfast and lunch spots in Victoria! Now open for dinner.
        </p>

        <p>
        Big beautiful breakfasts, fantastic ribs, generous wings, some of the best burgers in town, and a range of vegetarian options.
        </p>

        <p>
        Super, friendly staff. Free wifi internet.
        </p>

        <p>
        Cash, debit, Visa or MasterCard, Canadian Tire Money and Bitcoins accepted.
        </p>
      </div>
      
      <div class="directory">
        <h2><a href="http://nolimitlandscapes.com/">No Limit Landscaping</a></h2>
        <a href="http://nolimitlandscapes.com/"><img src="/img/nolimit.jpg" alt="No Limit Landscaping" /></a>
        <p style="clear: both; overflow: hidden">No Limit Landscaping is a new company formed in January of 2013. With over 20 years of experience in the industry, we will be focusing our expertise on the residential sector. We install full landscapes from start to finish. From designing to excavation to a completed landscape we will work with you through the entire process. Our water features set us apart from our competitors and are an excellent addition to any household.</p>
      </div>

      <div class="directory">
        <h2><a href="http://pacificblissmassage.com/">Pacific Bliss Massage</a></h2>
        <a href="http://pacificblissmassage.com/"><img src="/img/pacificbliss.jpg" alt="Pacific Bliss" /></a>
        <p style="overflow: hidden">
        Vancouver's most blissful massage and integrated healing center. We specialize in Swedish relaxation massage and Hot &amp; Cold Stone Therapy. Treatments can be scheduled at Infinity Salon &amp; Spa and in the summer months at Vancouver's most beautiful location - Wreck Beach!
        </p>
      </div>

      <div class="directory">
        <h2><a href="http://yourlocalmoversbc.com/">Your Local Movers</a></h2>
        <a href="http://yourlocalmoversbc.com/"><img src="/img/yourlocalmovers.png" alt="Your Local Movers" /></a>
        <p style="clear: both">
        We can do anything from moves, deliveries, junk removal or even help moving something around the inside of your house!  No job is too big or small for us.

Your Local Movers provides service to the entire Lower Mainland as well as the Sunshine Coast, Whistler, and Vancouver BC.
        </p>
      </div>

      <div class="directory">
        <h2><a href="http://www.sweettoothcafe.ca/">Sweet Tooth Cafe</a></h2>
        <a href="http://www.sweettoothcafe.ca/"><img src="/img/sweettooth.gif" alt="Sweet Tooth Cafe" /></a>
        <p>
        Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai and homemade soup to Italian specialty coffee drinks, all made right in front of you
        </p>
      </div>


    </div>
  </div>
</div>
