<div class="container-fluid directory">
  <div class="row-fluid">
    <div class="span6">
      <h1>Merchants</h1>
      <p>
      Following is a directory of local shops and businesses in Vancouver that accept bitcoins for payment.  Would you like to be included here?  We'd love to have you!
      </p>
      <p><a class="btn" href="/merchants/signup">Sign me up!</a></p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h2>Pacific Bliss Massage</h2>
      <img src="http://pacificblissmassage.com/VancouverCustomizedMassage.jpg" />
      <p style="overflow: hidden">
      Vancouver's most blissful massage and integrated healing center. We specialize in Swedish relaxation massage and Hot &amp; Cold Stone Therapy. Treatments can be scheduled at Infinity Salon &amp; Spa and in the summer months at Vancouver's most beautiful location - Wreck Beach!
      </p>
    </div>

    <div class="span4">
      <h2>Sweet Tooth Cafe</h2>
      <img src="http://www.sweettoothcafe.ca/_/rsrc/1301203218770/config/customLogo.gif?revision=8" />
      <p>
      Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai and homemade soup to Italian specialty coffee drinks, all made right in front of you
      </p>
    </div>

    <div class="span4">
      <h2>Divan Kitchen</h2>
      <img src="http://sphotos-g.ak.fbcdn.net/hphotos-ak-prn1/150071_116421141753535_3214357_n.jpg" />
      <p>Authentic Turkish kebab and desserts</p>
    </div>
  </div>
</div>
