<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Merchants</h1>
      <p>
      Following is a directory of local shops and businesses in Vancouver that accept bitcoins for payment.
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="directory">
        <h2>Divan Kitchen</h2>
        <img src="/img/divan.jpg" />
        <p>Authentic Turkish kebab and desserts</p>
      </div>

      <div class="directory">
        <h2><a href="http://pacificblissmassage.com/">Pacific Bliss Massage</a></h2>
        <a href="http://pacificblissmassage.com/"><img src="/img/pacificbliss.jpg" alt="Pacific Bliss" /></a>
        <p style="overflow: hidden">
        Vancouver's most blissful massage and integrated healing center. We specialize in Swedish relaxation massage and Hot &amp; Cold Stone Therapy. Treatments can be scheduled at Infinity Salon &amp; Spa and in the summer months at Vancouver's most beautiful location - Wreck Beach!
        </p>
      </div>

      <div class="directory">
        <h2><a href="http://www.sweettoothcafe.ca/">Sweet Tooth Cafe</a></h2>
        <a href="http://www.sweettoothcafe.ca/"><img src="/img/sweettooth.gif" alt="Sweet Tooth Cafe" /></a>
        <p>
        Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai and homemade soup to Italian specialty coffee drinks, all made right in front of you
        </p>
      </div>

      

      <div class="directory">
        <h2><a href="http://yourlocalmoversbc.com/">Your Local Movers</a></h2>
        <a href="http://yourlocalmoversbc.com/"><img src="/img/yourlocalmovers.png" alt="Your Local Movers" /></a>
        <p>
        We can do anything from moves, deliveries, junk removal or even help moving something around the inside of your house!  No job is too big or small for us.

Your Local Movers provides service to the entire Lower Mainland as well as the Sunshine Coast, Whistler, and Vancouver BC.
        </p>
      </div>
    </div>
  </div>
</div>
