<h1>Sign Up</h1>

<p>
Are you a Vancouver business owner accepting bitcoins for payment? Great! That's all it takes to be listed on our site. Just let us know what image and text you'd like us to put up and give us your website address if you have one.
</p>

<h2>Point of Sale</h2>

<p>
If you want, we can also help you by providing you with a free, customized <a href="/calculator">Point-of-Sale</a> page for your business and offering you our exchange services.  The page is designed to display nicely on an Android tablet device that you can keep on your countertop, but it can also run on a laptop or any device that has a modern web browser.
</p>

<h2>How it Works</h2>

<p>
If you <a href="/users/new">register a free Point-of-Sale page</a> with us, then whenever one of your customers asks to pay with bitcoins, you can bring up your page and enter the sale amount in Canadian dollars. The page will convert the currency amount and generate a QR code that your customers can scan with their phones in order to send bitcoins to your address.</p>

<p>
The page will notify you when the payment is received and the transaction will be logged along with the current exchange rate at the time of sale. You'll get access to a report that totals up all the transactions sent to your bitcoin address in a given period.  We can pay you out in cash for those bitcoins or you can choose to hold onto them and hope they grow in value. 
</p>
