<style>
  @import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

  body {
    font-family: "Public Sans", sans-serif;
  }
</style>

<html>
  <body>
    <div style="margin-bottom: 10px">{{hello}} {{username}},</div>

    <div style="margin-bottom: 10px">
      {{youReceived}} {{payment.amount}}
    </div>

    <div style="margin-bottom: 10px">
      <a href="{{payment.link}}">{{payment.link}}</a>
    </div>

    {{#if withdrawal.amount}}
      <div style="margin-bottom: 10px">
        {{withdrawalTriggered}} {{withdrawal.amount}}
      </div>

      <div style="margin-bottom: 10px">
        <a href="{{withdrawal.link}}">{{withdrawal.link}}</a>
      </div>
    {{else if withdrawal.failed}}
      <div style="margin-bottom: 10px">
        {{problemWithdrawing}}
      </div>
    {{/if}}

    <a href="{{payment.link}}">
      <img src="{{URL}}/images/logo.webp" style="width: 200px; margin: 50px;"/>
    </a>
    
    <a href="{{URL}}/unsubscribe">Unsubscribe</a>
  </body>
</html>
