<style>
  @import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

  body {
    font-family: "Public Sans", sans-serif;
  }
</style>

<html>
  <body>
    <div style="display: flex; width: 100%;">
      <a href="https://coinos.io" style="margin: auto">
        <img src="https://coinos.io/images/logo.svg">
      </a>
    </div>

    <div style="margin-bottom: 10px">Hello {{username}},</div>

    <div style="margin-bottom: 10px">
      Please visit <a href="{{link}}">{{link}}</a> to verify your email.
    </div>

    <div style="margin-bottom: 10px">Thanks!</div>

    <div>The Coinos Team</div>
  </body>
</html>
