{{#yield-scripts}}
  {{#js}}js/generate_address{{/js}}
{{/yield-scripts}}

{{#yield-styles}}
  <style>
    button { margin-top: 5px; }
    pre { font-size: 18px; }
  </style>
{{/yield-styles}}

<div id="key-dialog" class="alert alert-success">
  Bitcoin Address
  <pre id="pubkey"></pre>
  <div id="pubqr"></div>
</div>


<div id="key-dialog" class="alert alert-danger">
  <span id="status"></span> Private Key
  <pre id="privkey"></pre>
  
  <div class="pull-right text-right hidden-print">
    <button type="button" class="btn btn-primary regenerate"><span class="glyphicon glyphicon-refresh"></span> Regenerate</button><br />
    <button type="button" class="btn btn-primary print"><span class="glyphicon glyphicon-print"></span> Print</button><br />
  </div>
  <div id="privqr" style="margin-bottom: 10px"></div>

  <form id="encrypt" class="hidden-print">
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
      <label for="confirm">Confirm Password:</label>
      <input type="password" id="confirm" name="confirm" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary" value="Encrypt" />
  </form>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Wait</h4>
      </div>

      <div class="modal-body">
        <i class="fa fa-spinner fa-spin"></i> Encrypting Private Key
      </div>
    </div>
  </div>
</div>
