<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}calculator{{/css}}
    {{#js}}setup{{/js}}
  </head>
  <body>
    <div class="container-fluid">
      <form action="/users" method="post">
        <h1>Register</h1>
        <div class="row-fluid">
          <div class="span6">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="" />
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="" />
          </div>
        </div>
        <br />
        <input class="btn" type="submit" value="Next" />
      </form>
    </div>
  </body>
</html>
