{{#yield-scripts}}
  {{#js}}js/register{{/js}}
{{/yield-scripts}}

<div id="main-logo"></div>

<form id="register" action="/users" method="post">
  {{#error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/error}}

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" class="form-control" />
  </div>

  <div class="form-group">
    <label for="password">Passphrase:</label>
    <input type="password" id="password" name="password" class="form-control" />
    <div id="messages"></div>
  </div>

  <div class="form-group">
    <label for="confirm">Confirm Passphrase:</label>
    <input type="password" id="confirm" name="confirm" class="form-control" />
  </div>

  <input id="pubkey" name="pubkey" type="hidden" />
  <input id="privkey" name="privkey" type="hidden" />

  <input class="btn btn-primary" type="submit" value="Register" />
</form>

<div id="qr"></div>

