{{#yield-scripts}}
<script src="/bower/bootstrap-formhelpers/dist/js/bootstrap-formhelpers.min.js"></script>
<script src="/js/profile.js"></script>
{{/yield-scripts}}

<form id="profile" action="/{{user}}" method="post" style="display: none">
  <h1>Account Profile</h1>

  <input type="hidden" id="username" name="username" value="{{user}}" class="form-control" />

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" class="form-control" />
  </div>

  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" />
  </div>

  <div class="form-group">
    <label for="password">New Password <small>(blank = no change)</small>:</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>

  <div class="form-group">
    <label for="confirm">Confirm Password:</label>
    <input type="password" id="confirm" name="confirm" class="form-control" />
  </div>

  <br />
  <input class="btn btn-primary" type="submit" value="Done" />
</form>

