{{#yield-scripts}}
  {{#js}}js/calculator{{/js}}
{{/yield-scripts}}

{{#verified}}
<p class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
Your email has been verified. Thank you!
</p>
{{/verified}}

<span id="error" class="btn btn-danger" style="display: none"></span> 

<div id="calculator" style="display: none">
  <input id="user" type="hidden" value="{{user}}" />

  <h1 id="title"></h1>
  <a href="/{{user}}/edit"><img id="logo" src="/assets/img/bitcoin.png" alt="Logo" /></a>

  <form role="form">
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="text" id="amount" class="form-control" />
      <span id="currency"></span> / <span id="exchange"></span> <span>BTC</span>
    </div>

    <div class="form-group">
      <label for="tip">Tip:</label>
      <div class="btn-toolbar">
        <div class="btn-group" id="tip">
          <button type="button" class="active btn btn-default">0%</button>
          <button type="button" class="btn btn-default">10%</button>
          <button type="button" class="btn btn-default">15%</button>
          <button type="button" class="btn btn-default">20%</button>
        </div>
      </div>
    </div>
  </form>

  <div id="payment">
    <p>Please send <strong id="total">0.0</strong> <span id="unit"></span> to</p>
    <a href="/{{user}}/report"><div id="qr"></div></a>
    <p id="address"></p>
  </div>

  <button type="button" id="received" class="btn btn-success">Payment Received.  Thank you!</button>
  <audio id="chaching" src="/cash_register.wav" hidden="true" enablejavascript="true">
</div>

