{{#yield-scripts}}
  <script src="/bower/moment/min/moment.min.js"></script>
  <script src="/js/calculator.js"></script>
{{/yield-scripts}}

{{#verified}}
<p class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
Your email has been verified. Thank you!
</p>
{{/verified}}

<span id="error" class="btn btn-danger" style="display: none"></span> 

<div id="calculator" style="display: none">
  <input id="user" type="hidden" value="{{user}}" />

  <h1 id="title"></h1>
  <img id="logo" src="/img/bitcoin.png" alt="Logo" />

  <div id="controls">
    <div class="numpad pull-left">
      <h2><span class="amount">0.00</span> <small class="currency"></small></h2>
      <button class="btn btn-lg btn-default">1</button>
      <button class="btn btn-lg btn-default">2</button>
      <button class="btn btn-lg btn-default">3</button>
      <br />
      <button class="btn btn-lg btn-default">4</button>
      <button class="btn btn-lg btn-default">5</button>
      <button class="btn btn-lg btn-default">6</button>
      <br />
      <button class="btn btn-lg btn-default">7</button>
      <button class="btn btn-lg btn-default">8</button>
      <button class="btn btn-lg btn-default">9</button>
      <br />
      <button class="btn btn-lg btn-default">C</button>
      <button class="btn btn-lg btn-default">0</button>
      <button class="btn btn-lg btn-default" style="padding: 13px 0"><i class="fa fa-arrow-left"></i></button>
    </div>

    <div class="tippad tablet">
      <h2><small>+</small><span class="tip"></span></h2>
        <button type="button" class="active btn btn-lg btn-default">No Tip</button><br />
        <button type="button" class="btn btn-lg btn-default">+10%</button><br />
        <button type="button" class="btn btn-lg btn-default">+15%</button><br />
        <button type="button" class="btn btn-lg btn-default">+20%</button>
    </div>

    <div class="rates tablet">
      <h2>
        <small>Exchange rate</small> 
        <span class="exchange"></span>
        <span class="label label-default symbol"></span> 
        <span class="label label-success commission"></span>
      </h2>
    </div>

    <div class="clearfix mobile"></div>
    <div class="tippad mobile" style="margin-top: 10px">
      <h2><small>+</small><span class="tip"></span> <small>TIP</small></h2>
      <div class="btn-group">
        <button type="button" class="active btn btn-lg btn-default">No Tip</button>
        <button type="button" class="btn btn-lg btn-default">+10%</button>
        <button type="button" class="btn btn-lg btn-default">+15%</button>
        <button type="button" class="btn btn-lg btn-default">+20%</button>
      </div>
    </div>

    <div class="rates mobile">
      <h2>
        <small>Exchange Rate</small><br />
        <span class="exchange"></span>
        <span class="label label-default symbol"></span> 
        <span class="label label-success commission"></span>
      </h2>
    </div>
  </div>

  <button id="slide" class="btn btn-primary"><i class="fa fa-lg fa-sort-up"></i></button>

  <div id="payment" style="margin-top: -10px">
    <h2><small>Please send</small> <span id="total">0.0</span> <small class="unit"></small></h2>
    <div id="qr"></div>
    <h2><span id="address" class="label label-success"></span></h2>
  </div>

  <button type="button" id="received" class="btn btn-success">Payment Received.  Thank you!</button>
  <audio id="success" src="/success.wav" hidden="true" enablejavascript="true">
</div>

