<h1>Welcome to CoinOS</h1>

<p>Thanks for signing up!  Please verify your email by clicking this link:<p>

<div class="well"><a href="{{url}}">{{url}}</a></div>

<h2>Your Bitcoin Wallet</h2>

<p>We've generated a Bitcoin wallet key for you to receive payments to. This is your private key, encrypted with your account password:</p>

<pre>{{privkey}}</pre>

<p>You will need this key, along with your password, to access funds that you receive.  We can't recover your password for you if you forget it, so keep it written down somewhere safe.</p>
