<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Report</title>
    {{#css}}calculator{{/css}}
    {{#js}}report{{/js}}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Transactions Report</h1>

      <input id="user" type="hidden" value="{{user}}" />
      From: <input id="from" name="from" type="text" class="date" />
      To: <input id="to" name="to" type="text" class="date" />

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Address</th>
            <th>Rate</th>
            <th>mBTC</th>
            <th>CAD</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td id="total" colspan="3">Totals:</td>
            <td id="btc"></td>
            <td id="cad"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html> 
