{{#yield-scripts}}
<script src='/js/jquery-1.8.2.min.js'></script>
<script src='/js/jquery-ui.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/report.js'></script>
{{/yield-scripts}}

<h1>Transactions</h1>

<div style="margin-bottom: 15px">
  <input id="user" type="hidden" value="{{user}}" />
  <input id="from_date" type="text" style="position: relative; top: 25px; height: 0px; width:0px; border: 0px;" />
  <button id="from" class="btn btn-primary"></button>
  to
  <input id="to_date" type="text" style="position: relative; top: 25px; height: 0px; width:0px; border: 0px;" />
  <button id="to" name="to" class="btn btn-primary"></button>
</div>


<table class="table report">
  <thead>
    <tr>
      <th>Date</th>
      <th>Address</th>
      <th>Rate</th>
      <th>BTC</th>
      <th>CAD</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td id="total" colspan="3">Totals:</td>
      <td id="btc"></td>
      <td id="cad"></td>
    </tr>
  </tfoot>
</table>
