{{#yield-scripts}}
  {{#js}}js/report{{/js}}
{{/yield-scripts}}

<h1>Transactions</h1>

<div style="margin-bottom: 15px">
  <input id="user" type="hidden" value="{{user}}" />
  <input id="from_date" type="text" style="position: relative; top: 25px; height: 0px; width:0px; border: 0px;" />
  <button id="from" class="btn btn-primary"></button>
  to
  <input id="to_date" type="text" style="position: relative; top: 25px; height: 0px; width:0px; border: 0px;" />
  <button id="to" name="to" class="btn btn-primary"></button>
</div>

<p class="alert alert-warning" style="display: none">No transactions were found for the specified time period</p>

<table class="table table-striped report" style="display: none">
  <thead>
    <tr>
      <th>Time</th>
      <th>Rate</th>
      <th>BTC</th>
      <th>CAD</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td id="total" colspan="2">Total:</td>
      <td id="btc"></td>
      <td id="cad"></td>
    </tr>
  </tfoot>
</table>
